<!DOCTYPE html>
<html>
<style type="text/css">
	body
	{
		background-color: #313335;
		text-transform: uppercase;
		text-align: center;
		color: black;
	}
	h1
	{
		font-size: 3vw;
	}
	a
	{
		color:black;
		text-decoration: none;
		font-size: 2.5vw;
	}
	a:hover
	{
		color: #343f51;
	}
	table{
		font-size: 2.5vw;
	}
	td{
		height: 50px;
	}
</style>
<head>
	<title>fixed deposit page</title>
</head>
<body>
<h1>enter fixed deposit details {{ session['customer'] }}</h1>
<br>
<br>
<form action="http://localhost:5001/createacc" method="post">
	<table align="center">
	<tr><td>deposit amount:</td><td><input type="number" min="1000" step="1000" name="damount" ></td></tr>
	<tr><td>period in months:</td><td><input type="number" min="12" name="term" ></td></tr>
	</table>
	<h2><input type="submit" value="deposit" style="width: 110px" name="submit">
<br>
<br>
<a style="font-size: 2vw" href="http://localhost:5001/cushome">back</a>
</form>
</body>
</html>