<html>
<style type="text/css">
	body
	{
		background-image: url('/static/3.jpg');
		background-size: 100%;
		text-transform: uppercase;
		text-align: center;
		color: black;
	}
	h1
	{
		font-size: 40px;
	}
	a
	{
		text-decoration: none;
		font-size: 35px;
	}
	a:hover
	{
		color: #343f51;
	}
</style>
<head>
	<title>Bank Home Page</title>
</head>
<!--<body background="{{ url_for('static',filename='bank.png') }}">-->
<h1>welcome to nexus bank</h1>
<br>
<br>
<br>
<a href="http://localhost:5001/signup">sign up</a>
<br>
<br>
<br>
<br>
<a href="http://localhost:5001/signin">sign in</a>
<br>
<br>
<br>
<br>
<a href="http://localhost:5001/adsignin">admin signin</a>
<br>
<br>
<br>
<br>
<a href="http://localhost:5001/thankyou">quit</a>
</body>
</html>




